body {
  background-color: #9266ff;
}

.App {
  text-align: center;
  background-color: rgb(119, 195, 109);
  min-height: 500px;
  width: 700px;
  margin: 40px auto;
  border-radius: 5px;
}

h1 {
  color: #d54d7b;
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  /* line-height: 160px; */
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

img {
  width: 32vmin;
  height: 35vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
